<!-- signup.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required><br>

    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br>

    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required><br>

    <label for="tel">Phone Number:</label>
    <input type="tel" id="phone" name="phone" required><br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required><br>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country" required><br>

    <button type="submit" clas="btnn" onclick="signup()">Sign Up</button>
  </form>
<script src="index.js"></script>
</body>
</html>